<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.vwvm.store.mappers.mapper.UserMapper">

    <resultMap id="UserMap" type="org.vwvm.store.beans.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="userName"/>
        <result column="password" property="password"/>
        <result column="img" property="img"/>
    </resultMap>

    <select id="queryUserByName" resultMap="UserMap">
        select 
            id, username, password, img
        from 
            user
        where
            username = #{username}
    </select>

    <select id="selectPageVo" resultType="User">
        select
            id, username, password, img, age
        from
            user
        where
            age > #{age}
    </select>
</mapper>



