.flex-grow {
  flex-grow: 1;
}

.content {
  width: 80vw;
  margin: 20px auto;
  //border-bottom: 1px solid #b0b0b0;
  .el-menu--horizontal > .el-menu-item {
    border-bottom: none;
    text-decoration: none;
  }
}

:deep(.pr) {

}

.announcement, .file-download {
  height: 40px;
  border-bottom: #e0e0e0 1px solid;
  display: flex;
  //justify-content: center;
  align-content: center;
  vertical-align: center;
  align-self: center;
}

span{
  align-self: center;
}


.el-row {
  margin-bottom: 20px;
}

.el-row:last-child {
  margin-bottom: 0;
}

.el-col {
  border-radius: 4px;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
