<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.vwvm.store.mappers.mapper.IndexImgMapper">


    <resultMap id="IndexImgMap" type="org.vwvm.store.beans.entity.IndexImg">
        <id column="img_id" jdbcType="VARCHAR" property="imgId"/>
        <resultsVO column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <resultsVO column="img_bg_color" jdbcType="VARCHAR" property="imgBgColor"/>
        <resultsVO column="prod_id" jdbcType="VARCHAR" property="prodId"/>
        <resultsVO column="category_id" jdbcType="VARCHAR" property="categoryId"/>
        <resultsVO column="index_type" jdbcType="INTEGER" property="indexType"/>
        <resultsVO column="seq" jdbcType="INTEGER" property="seq"/>
        <resultsVO column="status" jdbcType="INTEGER" property="status"/>
        <resultsVO column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <resultsVO column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="listIndexImg" resultMap="IndexImgMap">
        select img_id,
               img_url,
               img_bg_color,
               prod_id,
               category_id,
               index_type,
               seq,
               status,
               create_time,
               update_time
        from index_img
        where status = 1
        order by seq
    </select>
</mapper>
