<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.vwvm.store.mappers.listMapper.ProductCategoryBeanMapper">

    <resultMap id="ProductCategoryBean" type="org.vwvm.store.beans.bean.ProductCategoryBean">
        <resultsVO column="category_id1" jdbcType="INTEGER" property="categoryId"/>
        <resultsVO column="category_name1" jdbcType="VARCHAR" property="categoryName"/>
        <resultsVO column="category_level1" jdbcType="INTEGER" property="categoryLevel"/>
        <resultsVO column="parent_id1" jdbcType="INTEGER" property="parentId"/>
        <resultsVO column="category_slogan1" jdbcType="VARCHAR" property="categorySlogan"/>
        <resultsVO column="category_icon1" jdbcType="VARCHAR" property="categoryIcon"/>
        <resultsVO column="category_pic1" jdbcType="VARCHAR" property="categoryPic"/>
        <resultsVO column="category_bg_color1" jdbcType="VARCHAR" property="categoryBgColor"/>
        <collection property="productCategoryBeans" javaType="java.util.List" ofType="org.vwvm.store.beans.bean.ProductCategoryBean">
            <id column="category_id2" jdbcType="INTEGER" property="categoryId"/>
            <resultsVO column="category_name2" jdbcType="VARCHAR" property="categoryName"/>
            <resultsVO column="category_level2" jdbcType="INTEGER" property="categoryLevel"/>
            <resultsVO column="parent_id2" jdbcType="INTEGER" property="parentId"/>
            <collection property="productCategoryBeans" javaType="java.util.List" ofType="org.vwvm.store.beans.bean.ProductCategoryBean">
                <id column="category_id3" jdbcType="INTEGER" property="categoryId"/>
                <resultsVO column="category_name3" jdbcType="VARCHAR" property="categoryName"/>
                <resultsVO column="category_level3" jdbcType="INTEGER" property="categoryLevel"/>
                <resultsVO column="parent_id3" jdbcType="INTEGER" property="parentId"/>
            </collection>
        </collection>
    </resultMap>

    <select id="selectProductCategory" resultMap="ProductCategoryBean">
        select c1.category_id       'category_id1',
               c1.category_name     'category_name1',
               c1.category_level    'category_level1',
               c1.parent_id         'parent_id1',
               c1.category_icon     'category_icon1',
               c1.category_slogan   'category_slogan1',
               c1.category_pic      'category_pic1',
               c1.category_bg_color 'category_bg_color1',
               c2.category_id       'category_id2',
               c2.category_name     'category_name2',
               c2.category_level    'category-level2',
               c2.parent_id         'parent_id2',
               c3.category_id       'category_id3',
               c3.category_name     'category_name3',
               c3.category_level    'category_level3',
               c3.parent_id         'parent_id3'
        from product_category c1
                 inner join product_category c2
                            on c2.parent_id = c1.category_id
                 left join product_category c3
                           on c3.parent_id = c2.category_id
        where c1.category_level = 1
    </select>

</mapper>
